<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet">
  <title>Twitter/X Clone</title>
</head>
    <body class="bg-gray-100 p-6">
        <h1 class="text-3xl font-bold text-center">Twitter/X clone</h1>
        <div id="tweet-box" class="mt-6">
            <p class="text-center">Here will go the textbox in the next video.</p>
        </div>
    </body>
</html>
